langchain
pandas
langchain_community
ipykernel
langchain_groq
langchain-google-genai
arxiv
langchain-text-splitters
google-generativeai
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
langserve
tf-keras
wikipedia
sqlalchemy
tiktoken
PyPDF2
gradio
fastapi
uvicorn
pydantic
langchain-core
python-dotenv
httpx
orjson
sse_starlette
langchain-cli
pydantic[email]